body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spielfeldContainer {
    width: 30%;
    max-width: 100vh;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}

.spielfeldKachel{
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
}